[core]
	autocrlf = input
	quotepath = false
	excludesfile = /home/r/.gitignore
[icdiff]
	options = --highlight --line-numbers
[color]
	ui = auto
[http]
	postBuffer = 524288000
[pull]
	rebase = true
[rebase]
	autoStash = true

[credential]
  helper = store

[http "https://github.com"]
  proxy=socks5://r-proxy:7890
