
# ibus
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus

if [ "$XDG_CURRENT_DESKTOP" = "i3" ]; then
    export QT_QPA_PLATFORMTHEME="qt5ct"
    export GTK_THEME='Adwaita:dark'
fi

# set environment var
source $HOME/.bashrc

{
  sleep 5

  # 共享剪贴板软件
  find ~/.local/bin -name "clipshare*.AppImage" -type f -executable -exec {} \; &

  # 语音输入
  /home/r/.local/bin/vocotype-flutter &

  # rustdesk远程控制
  /usr/bin/rustdesk &
 
  # share mouse and keyboard
  if [[ $(hostname) != "r-lm"* ]]; then
    input-leap &
  fi

} &
