
# ibus
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus

if [ "$XDG_CURRENT_DESKTOP" = "i3" ]; then
    export QT_QPA_PLATFORMTHEME="qt5ct"
    export GTK_THEME='Adwaita:dark'
fi

# share mouse and keyboard
if [[ $(hostname) != "r-lm"* ]]; then
	barrier &
fi

# for Logitech M570
xbindkeys

# set environment var
source $HOME/.bashrc

# 双屏环境
if [[ $(hostname) == "r-lc" ]]; then
  xrandr --output DisplayPort-1 --right-of HDMI-A-0 --auto
fi

